<section class="top">
	<div class="container clearfix">
        <div style="height:80px ;"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="page-main-title">
					<h2>Contact US</h2>
                    <hr style="height:4px;border-width:0;color:red;background-color:red;margin-top: 0px;">
					<ul>
						<li><a routerLink="/" title="Home"><i class="fa fa-home"></i></a> > Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section >
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 m1233" style="margin-top:20px;">
                <h1 style="text-align: center; background: linear-gradient(to bottom, rgb(249, 4, 4) 0%,rgb(249, 142, 3) 100%);color: white;">Contact Details</h1>
                <p>
                    We are a leading Old Coin company in India providing and offering a wide package of {{title}} and other unique coins at very affordable and reasonable prices. We keep everything transparent with our customers for give 100% satisfaction to customers. We always have all the main things in mind which the customer requires, due to which we supports 100% customer service. We want you to gain everythings you deserve in buying and selling coins with us.
				</p>
			</div>
		</div>
    </div>
</section>

<app-contact-form></app-contact-form>

