.contact{
    /* position: relative; */
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactInfo .box{
    /* position: relative; */
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(247, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(5, 5, 5);
    flex-direction: column;
    font-weight: 300;
}

.contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fc9657;
}

.contactForm h2{
    font-size: 30px;
    color: rgb(250, 250, 250);
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    background-color: #fc9657;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(248, 246, 246);
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(246, 242, 242);
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #eee9eb;
    font-size: 14px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 50%;
    background: #00bcd4;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-bottom: none;
}

@media(max-width:991px) {
    .contact{
        padding: 50px;
    }
    .contact .container{
        flex-direction: column;
    }
    .contact .container .contactInfo{
        margin-bottom: 40px;
    }

    .contact .container .contactInfo, .contactForm{
        width: 100%;
    }
}