<section class="top">
	<div class="container clearfix">
        <div style="height:80px ;"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="page-main-title">
					<h2>About US</h2>
                    <hr style="height:4px;border-width:0;color:red;background-color:red;margin-top: 0px;">
					<ul>
						<li><a routerLink="/" title="Home"><i class="fa fa-home"></i></a> > About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section >
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 m1233" style="margin-top:20px;margin-bottom: 20px;">
                <h1 style="text-align: center; background: linear-gradient(to bottom, rgb(249, 4, 4) 0%,rgb(249, 142, 3) 100%);color: white;">About {{title}}</h1>
                <p>
                    {{title}} helps you to buy and sell your Old Coins and provides the best price with wide selection of our Old coins which makes your experiance easy & happy.    We remain committed to our mission of “ creating happy Customers ”.   We arrange All kinds of Old Coins from all accross India. {{title}} brings all the services related to Buying and selling of old coins in India under single website. We have been providing excellent services to our clients since the date of foundation. We are a premium Old Coin distributor based in Delhi and provide our best servcices all over India.
				</p>
			</div>
        </div>
		<app-services></app-services>
    </div>
</section>
