<!-- Header Start -->
<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-search">
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><span className="navbar-toggler-icon"></span><i class="fas fa-bars"></i></label>
    <div class="content">
      <div class="logo"><a href="#">{{title}}</a></div>
      <ul class="links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li style="cursor:pointer ;"><a class="book-now" data-bs-toggle="modal" data-bs-target="#myModal">Apply Now</a></li>
      </ul>
    </div>
    <label for="show-search" class="search-icon"><i class="fa fa-search" style="color:white ;cursor:pointer;"></i></label>
    <form action="#" class="search-box">
      <input type="text" placeholder="Type Something to Search..." required>
      <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
    </form>
  </nav>
</div>
<!-- Header End -->

<router-outlet></router-outlet>

<!-- The Modal -->
<div id="myModal" class="modal hide fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Buy or Sell your Old Coin Now!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form #booking="ngForm" (ngSubmit)="onSubmit(booking.value,booking)" class="modal-form">
          <div class="col-md-12" id="perror_message"></div>
          <div class="col-md-12" id="perror_loading"></div>
          
          <div class="col-md-12">
            <input type="text" id="pname" name="name" ngModel class="form-control" placeholder="Name*" required>
          </div>
          <div class="col-md-12">
            <input type="text" id="pphone" name="phone" ngModel class="form-control" placeholder="Mobile*" required>
          </div>
          <div class="col-md-12">
            <input type="text" id="pemail" name="email" ngModel class="form-control" placeholder="Email*" required>
          </div>
          <div class="col-md-12">
            <textarea name="message" ngModel id="pmessage" class="form-control" placeholder="Any Additional Information or Detail About your Coins?"></textarea>
          </div>
          <div style="color: red; height:25px; text-align: center;">
            <div style="color: rgb(120, 0, 0);" *ngIf="booking.invalid && booking.touched">Please Fill all the required fields correctly</div>
            <div style="color: rgb(74, 243, 74);" *ngIf="submitted">Submitted Successfully</div>
          </div>
          <div class="col-md-12 text-center">
            <input type="submit" id="submit" class="btn" [disabled]="booking.invalid" value="Apply Now">
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer Start -->
<footer class="text-center text-white" style="background-color: #fc9657;">
  <div class="">
    <div class="mb-4" style="padding:30px;margin-top:30px">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </div>
    <div class="row mb-4">
      <div class="col-lg-3 col-md-6 mb-4 ">
        <h5> <a class="text-white" routerLink="/">Home</a></h5>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 ><a class="text-white" routerLink="/about">About</a></h5>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 ><a class="text-white" routerLink="/contact-us">Contact Us</a></h5>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 ><a class="text-white" href="tel:{{phone}}">Call Now</a></h5>
      </div>
    </div>
    <div class="ml-20 mb-4">
      <p style="margin:30px 100px 30px 100px">
        {{title}} helps you to buy and sell your Old Coins and provides the best price with wide selection of our Old coins which makes your experiance easy & happy.
      </p>
    </div>
  </div>
  
  <div class="text-center p-3" style="background-color: #fd6608;">
    © 2020 Copyright: {{title}}. All Rights Reserved!!
  </div>
</footer>
<!-- Footer End -->

<div style="position: fixed;bottom: 40px;left: 0px;">
  <a href="tel:{{phone}}"><img src="../../assets/images/call.png" width="50px" style="border-radius: 30px;"></a>
</div>
<div style="position: fixed;bottom: 40px;right: 30px;">
  <a href="http://wa.me/{{whatsapp}}" target="_blank"><img src="../../assets/images/whatsapp.png" width="50px" style="border-radius: 30px;"></a>
</div>